<div class="container-fluid">
    <div class="row">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/background.jpg" alt="..."/>
            </div>
            <div>
                <div class="author">
                    <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                    <h4 class="title">Chet Faker<br/>
                    </h4>
                </div>
            </div>
            <form style="margin: 20px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control border-input" placeholder="Username"
                                   value="michael23">
                        </div>
                    </div>
                    <div class="col-md-6    ">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control border-input" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control border-input" placeholder="Company"
                                   value="Chet">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control border-input" placeholder="Last Name"
                                   value="Faker">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button style="margin-bottom: 15px;" type="submit" class="btn btn-info btn-fill btn-wd">Update
                        Profile
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
