<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..."/>
                </div>
                <div>
                    <div class="author">
                        <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                        <h4 class="title">Chet Faker<br/>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Team Members</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-0.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    DJ Khaled
                                    <br/>
                                    <span class="text-muted"><small>Offline</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-1.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <!--Creative Tim-->
                                    <br/>
                                    <span class="text-success"><small>Available</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="assets/img/faces/face-3.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    Flume
                                    <br/>
                                    <span class="text-danger"><small>Busy</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control border-input" placeholder="Username"
                                           value="michael23">
                                </div>
                            </div>
                            <div class="col-md-6    ">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control border-input" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Company"
                                           value="Chet">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name"
                                           value="Faker">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
