<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 *ngIf="currentCourse" style="text-align: center; margin-bottom: 15px" class="title">Course Team Member for - {{
                    currentCourse.course_name }}</h4>
                <div class="form-group">
                    <select (change)="onSelectCourse($event.target.value)" class="form-control">
                        <option *ngFor="let course of courses">{{ course.course_name }}</option>
                    </select>
                </div>
            </div>
            <div class="content">
                <ul *ngIf="courseTeamMembers" class="list-unstyled team-members">
                    <li *ngFor="let teamMember of courseTeamMembers">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="avatar">
                                    <img src="assets/img/faces/face-0.jpg" alt="Circle Image"
                                         class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-6" style="margin-top: 15px">
                                {{ teamMember.first_name + ' ' + teamMember.last_name}}
                            </div>
                            <div class="col-xs-3 text-right">
                                <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="text-align: center; margin-top: 15px">
                        <button *ngIf="!isAddingPartner" (click)="onAddPartnerPlus()" style="margin-bottom: 15px;
                         text-align: center" type="submit" class="btn btn-wd">+
                        </button>
                        <div *ngIf="isAddingPartner">
                            <input type="email" class="form-control border-input"
                                   placeholder="New partner email" value="" [(ngModel)]="newPartnerEmail">
                            <button style="margin: 15px; text-align: center" type="submit" class="btn btn-wd"
                                    (click)="onAddPartner()">Add new partner
                            </button>
                            <button style="margin: 15px; text-align: center" type="submit" class="btn btn-wd"
                                    (click)="onStopAddPartner()">Stop adding partners
                            </button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
