<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <link rel="stylesheet" type="text/css" href="assets/styles/grapheditor.css">


  <script type="text/javascript">
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
      var result = new Object();
      var idx = url.lastIndexOf('?');

      if (idx > 0) {
        var params = url.substring(idx + 1).split('&');

        for (var i = 0; i < params.length; i++) {
          idx = params[i].indexOf('=');

          if (idx > 0) {
            result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
          }
        }
      }

      return result;
    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
  </script>

  <script type="text/javascript" src="assets/js/Init.js"></script>
  <script type="text/javascript" src="assets/jscolor/jscolor.js"></script>
  <script type="text/javascript" src="assets/sanitizer/sanitizer.min.js"></script>
  <script type="text/javascript" src="assets/src/js/mxClient.js"></script>
  <script type="text/javascript" src="assets/js/EditorUi.js"></script>
  <script type="text/javascript" src="assets/js/Editor.js"></script>
  <script type="text/javascript" src="assets/js/Sidebar.js"></script>
  <script type="text/javascript" src="assets/js/Graph.js"></script>
  <script type="text/javascript" src="assets/js/Shapes.js"></script>
  <script type="text/javascript" src="assets/js/Actions.js"></script>
  <script type="text/javascript" src="assets/js/Menus.js"></script>
  <script type="text/javascript" src="assets/js/Format.js"></script>
  <script type="text/javascript" src="assets/js/Toolbar.js"></script>
  <script type="text/javascript" src="assets/js/Dialogs.js"></script>


  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</head>

<body>

<app>
  Loading...
</app>


<!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
<script>
  (function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = r;
    A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = 1 * new Date();
    a = n.createElement(g),
      r = n.getElementsByTagName(g)[0];
    a.async = 1;
    a.src = u;
    r.parentNode.insertBefore(a, r)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-71073175-1', 'auto');
  ga('send', 'pageview');
</script>


</body>
</html>
